{% extends 'base.html.twig' %}

{% block body %}
    <h3>Во время работы что-то пошло не так</h3>

    <p>
        Описание ошибки: {{ message }}
    </p>

    <p>
        <a href="{{ path('menu') }}">Вернутся на домашнюю страницу</a>.
    </p>
{% endblock %}